{% extends 'S_A_B/basic.html' %}
{% block css %}
    #hi{background-color: pink;}
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
/*extra*/




.pics .first{
  height: 300%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
 
}
.pic .first img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .first:hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .first span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
/second/
.pics .second{
  height: 300%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
  background: red;
}
.pic .second img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .second :hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .second span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
/third/
.pics .third{
  height: 300%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
  background: red;
}
.pic .third img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .third:hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .third span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
/fourth/
.pics .fourth{
  height: 300%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
  background: red;
}
.pic .fourth img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .fourth:hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .fourth span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
/fifth/
.pics .fifth{
  height: 1200%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
  background: red;
}
.pic .fifth img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .fifth:hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .fifth span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
/products/


.pics .firstt{
  height: 300%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
  /background: red;/
}

.pic .firstt img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .firstt:hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .firstt span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}

.pics .secondd{
  height: 300%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
  /background: red;/
}
.pic .secondd img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .secondd :hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .secondd span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
.pics .thirdd{
  height: 300%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
  /background: red;/
}
.pic .thirdd img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .thirdd:hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .thirdd span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
.pics .fourthh{
  height: 300%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
  /background: red;/
}
.pic .fourthh img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .fourthh:hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .fourthh span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
.pics .fifthh{
  height: 1200%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
  /background: red;/
}
.pic .fifthh img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .fifthh:hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .fifthh span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
.pics .sixthh{
  height: 1200%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
  /background: red;/
}
.pic .sixthh img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .sixthh:hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .sixthh span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
.pics .seventhh{
  height: 1200%;
  width: 300%;
  float: left;
  overflow: hidden;
  position: relative;
 
}
.pic .seventhh img{
  height: 100px;
  width: 100px;
  transition: all 1.5s ease;
}
.pics .seventhh:hover img{
  transform: scale(1.5,1.5);
  overflow: hidden;
}
.pics .seventhh span{
  background:  rgba(0,0,0,0.5);
  display: block;
  overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 999;
    bottom: 20%;
    height: 15%;
    line-height: 40px;
    letter-spacing: 3px;
    width: 200px;
    margin-left: 0;
    color: #fff;
}
/*extra*/
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*navbar*/
body
{
    font-family: 'Montserrat', sans-serif;
}
.navbar
{
    background-color: black;
}
.navbar .brand-navbar img:hover
{
    opacity: 0.7;
}
.navbar ul
{
padding: 0px 30px 0px 0px;
}
.navbar ul li a{
   
    margin: 10px 0px 0px 10px;
    text-transform: uppercase;
    font-size: 12px;
}
.navbar ul li a .fas{
    padding-right:5px; 
    padding-left:5px; 
}
.navbar ul li a:hover{
    color: #15b000;
}
.navbar ul li.active > a {
    color: #15b000;
    font-weight: bold;
    font-size: 12px;
    border-left: 3px solid #15b000;
    border-radius: 40px;
}
.iconStyle
{
    color: #15b000;
}
<!-- form bo -->

   
   {% endblock %}
{% block body %}
{% load static %}

 <div class="container-fluid">

<div class="row">
  <div class="col-sm-12">
<!-- ======================================Navigation Bar================================================= -->
        <nav class="navbar navbar-expand-lg navStyle fixed-top scrolling-navbar" id="hi">
            <a class="brand-navbar" href="#"><img src="{% static 'C:\Users\ankur saini\AppData\Local\Programs\Python\Python39\PROJECT\project\SAB\S_A_B\static\image\log1.jpeg' %}" alt="Responsive image" height="60px" class="rounded-circle"></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
                <span><i class="fas fa-align-right iconStyle"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto navList">
                  <li class="navbar-item">
   
   <!--  <div class="col px-md-6 ">
      <div class="search-product ads-list">
          
          <div class="search">
            <div id="custom-search-input">
            <div class="input-group">
              <input type="text" class="form-control input-lg" placeholder="Electronics" />
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>search
                </button>
              </span>
            </div>
          </div>
          </div></div></div> -->
            <form method="get" action="/search"class="form-inline my-2 my-lg-0 mx-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit"><!-- <a href="S_A_B/search"> -->Search</button>
             <a href="/admin" role="button" target="_blank" class="btn btn-outline-success m-2 my-sm-0"> Admin Panel </a> 
          </form>
          </li>
                    <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link"><i class="fas fa fa-home"></i>Home<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item">
                        <a href="{% url 'abouts' %}" class="nav-link"><i class="fas fa fa-users"></i>AboutUs</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contact' %}" class="nav-link"><i class="fas fa fa-phone"></i>ContactUs</a>
                    </li>
                    <li class="nav-item">
                        <a href="S_A_B/checkout" class="nav-link"><i class="fas fa fa-cart-arrow-down"></i>Cart</a>
                    </li>

<li class="nav-item"> {% if user.is_authenticated %}
<ul class="navbar-nav mr-2">
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome {{request.user}}</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="accounts/logout/">Logout</a>

        </div>
      </li>
      </ul>
      </div>
{% else %}
                    <li class="nav-item">
                         
  
 <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#signupModal">
SignUp
</button>

                     
                    <!--   Button to  trigger Login modal  -->
<button type="button" class="btn btn-success mr-2"><a href="accounts/login" class="text-white">Login</a></button>
</li> 
{% endif %}
                    </li> 

                </ul>
            </div>
        </nav>
</div></div></div>
<!-- ======================================carousel=================================================-->
      

  
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <marquee direction="up" loop="">
          <img src="{% static 'C:\Users\ankur saini\AppData\Local\Programs\Python\Python39\PROJECT\project\SAB\S_A_B\static\image\sale.jpeg' %}" class="img-fluid">
        </marquee>
      </div>
      <div class="col-sm-6">
        <div id="demo" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://media.zigcdn.com/media/content/2020/May/2019_husqvarna_svartpilen_701_4k_2_640x480.jpg" class="img-fluid">
            </div>
            <div class="carousel-item">
              <img src="http://pritiinternationalltd.com/pub/static/version1601881739/frontend/TemplateMonster/theme007/hi_IN/images/media/post-1.jpg" class="img-fluid">
            </div>
            <div class="carousel-item">
              <img src="https://www.conserve-energy-future.com/wp-content/uploads/2020/09/beauty-products-kit.jpg" class="img-fluid">
            </div>
            <div class="carousel-item">
              <img src="https://hips.hearstapps.com/amv-prod-gp.s3.amazonaws.com/gearpatrol/wp-content/uploads/2019/06/50-Best-Watches-For-Men-Gear-Patrol-lead-full.jpg" class="img-fluid">
            </div>
            <div class="carousel-item">
              <img src="https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_980,h_613/https://slaylebrity.com/wp-content/uploads/2018/09/colorful-children-s-fashion-wallpaper_1920x1200_85396-1024x640.jpg" class="img-fluid">
            </div>
          </div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
      </div>
  
<div class="col-sm-3">
 <pre class="text-primary"> 
    Sale! Sale! Sale!
    Coming soon with new offers
    Enjoy the best deals .</pre>
<marquee direction="down"  behaviour="scroll"loop="">
 <img src="{% static 'C:\Users\ankur saini\AppData\Local\Programs\Python\Python39\PROJECT\project\SAB\S_A_B\static\image\cam.jpeg' %}" class="img-fluid">
        </marquee>
  
      </div></div>
    

<!-- Navbar links -->
  <div class="container-fluid">
<div class="row">
  <div class="col-sm-12">
<nav class="navbar navbar-expand-md navbar-dark" id="hi">
  

  

 <nav class="navbar navbar-expand navbar-dark" id="hi">
        <a href="{% url 'gallery' %}" class="navbar-brand h4 text-dark"><i class="fas fa fa-camera"></i>Gallery</a>
       
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              
                <a href="{% url 'popular' %}" class="navbar-brand h4 text-dark" class="nav-item active nav-link h5 text-dark"><i class="fas fa fa-briefcase"></i>Popular Products</a>
                <a href="{% url 'contact1' %}" class="nav-item active nav-link h5 text-dark"><i class="fas fa fa-phone"></i>ContactUs</a>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active text-dark h4" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa fa-briefcase"></i>categories</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{% url 'all' %}" class="dropdown-item">All</a>
                        <a href="{% url 'mobile' %}" class="dropdown-item">Mobiles</a>
                        <a href="{% url 'car' %}" class="dropdown-item">Cars & Bikes</a>
                        <a href="{% url 'fashion' %}" class="dropdown-item">Fashion</a>
                        <a href="{% url 'toys' %}" class="dropdown-item">Kids</a>
                        <a href="{% url 'furniture' %}" class="dropdown-item">Furniture</a>
                        <a href="{% url 'electronics' %}" class="dropdown-item">Electronics & Appliances</a>
                        <a href="{% url 'beauty' %}" class="dropdown-item">Beauty Products</a>
                        <a href="{% url 'camera' %}" class="dropdown-item">Camera</a>
                        <a href="{% url 'shoes' %}" class="dropdown-item">Shoes</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active h5 text-dark" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa fa-map"></i>Select City</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="#" class="dropdown-item">Chandigarh</a>
                        <a href="#" class="dropdown-item">Mohali</a>
                        <a href="#" class="dropdown-item">Panchkula</a>
                    </div>
                </li>
              
            </ul>

          </div>  
        </div>
    </nav>
  
<hr class="bg-dark">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="Categories_pics">
          <div class="Categories_wrapper">
          <div>
           <span><h4><i class="fas fa fa-hand-peace-o" ></i></h4><h1 class="text-primary">STAY HOME STAY SAFE AND SHOP ONLINE</h1></span> 
    </div>      </div></div></div></div>
           <div class="container">
           <div class="row">
           <div class="col">
          
            <div class="pics">
              <div class="first">
            <a href="">
              <img src="https://images.newindianexpress.com/uploads/user/imagelibrary/2020/5/16/w1200X800/Stay_Safe_and_Shop.jpg">
              <span class="h3"><i class="fas fa fa-hand-o-down "></i>Trending Adds</span>
            </a></div></div></div>
            <div class="col">
          <div class="pics">
            <div class="second">
            <a href="{% url 'furniture' %}">
              <img src="https://m.media-amazon.com/images/I/812jRykrqUL._AC_SX522_.jpg" height="270px" width ="250px">
              <span>Furniture</span>
            </a></div></div></div>
             <div class="col">
              <div class="pics">
            <div class="third">
            <a href="{% url 'beauty' %}">
              <img src="https://i.pinimg.com/originals/52/92/1c/52921c3e63f6329301e7041d5dcedd14.png" height="270px" width="200px">
              <span>Cosmo products</span>
            </a></div></div></div>
             <div class="col">
              <div class="pics">
            <div class="fourth">
            <a href="{% url 'mobile' %}">
              <img src="https://static.toiimg.com/photo/81685485.cms" height="270px" width="200px" >
              <span>Phones</span>
            </a></div></div></div>
             <div class="col">
              <div class="pics">
            <div class="fifth">
            <a href="{% url 'kids' %}">
              <img src="https://www.fashioncentral.pk/blog/wp-content/uploads/2013/09/kids-fashion-accessories-2013.jpg" height="270" width="200px">
              <span>kids Fashion</span>
            </a></div></div></div>
          
          </div></div>
        </div></div>
        <!-- categories ends -->
<!-- products start -->
        <div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="product_pics">
          <div class="product_wrapper">
          <div>
           <span><h1 class="text-primary">PRODUCT</h1><i class="fas fa fa-sign-in "></i></span> 
    </div>      </div></div></div></div>
           <div class="container">
           <div class="row">
           <div class="col">
          
            <div class="pics">
              <div class="firstt">
            <a href="{% url 'fashion' %}">
              <img src="https://fashionmagazine.com/wp-content/uploads/2020/02/2020-02-11-1.jpg" height="270px" width="250px">
              <span>Latest Special fashion  </span>
               <h5 class="text-dark tx-2 font-italic ">$245.00</h5>
            </a></div></div></div>
            <div class="col">
          <div class="pics">
            <div class="secondd">
            <a href="{% url 'furniture1' %}">
              <img src="https://i.ytimg.com/vi/lixom5XWNf0/maxresdefault.jpg" height="270px" width ="250px">
              <span>Home Furniture</span>
               <h5 class="text-dark tx-2 font-italic ">$545.00</h5>
            </a></div></div></div>
             <div class="col">
              <div class="pics">
            <div class="thirdd">
            <a href="{% url 'camera' %}">
              <img src="https://s.yimg.com/uu/api/res/1.2/yBC9PQkZp5qKkXztnCbNKQ--~B/aD0xMDEyO3c9MTgwMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2021-04/38873c20-a2d6-11eb-8f76-872d6dab64df.cf.jpg" height="270px" width="200px">
              <span>Camera</span>
               <h5 class="text-dark tx-2 font-italic ">$345.00 only</h5>
            </a></div></div></div>
             <div class="col">
              <div class="pics">
            <div class="fourthh">
            <a href="{% url 'watch' %}">
              <img src="https://cdn4.ethoswatches.com/the-watch-guide/wp-content/uploads/2020/10/Masthead-Mobile@2x-3.jpg" height="270px" width="200px" >
              <span>Watches</span>
               <h5 class="text-dark tx-2 font-italic ">$400.00</h5>
            </a></div></div></div>
             <div class="col">
              <div class="pics">
            <div class="fifthh">
            <a href="{% url 'bike' %}">
              <img src="https://www.cartoq.com/wp-content/uploads/2017/06/Avenger-Autologue-Bruise-Kit-1.jpg" height="270" width="200px">
              <span>Bikes</span>
               <h5 class="text-dark tx-2 font-italic ">$2450.00</h5>
            </a></div></div></div>
            <div class="col">
              <div class="pics">
            <div class="sixthh">
            <a href="{% url 'cycle' %}">
              <img src="https://5.imimg.com/data5/BS/XW/MR/ANDROID-93920770/product-jpeg-500x500.jpg" height="270" width="200px">
              <span>cycles</span>
               <h5 class="text-dark tx-2 font-italic ">$245.00</h5>
            </a></div></div></div>
            <div class="col">
              <div class="pics">
            <div class="seventhh">
            <a href="{% url 'car1' %}">
              <img src="https://etimg.etb2bimg.com/photo/73164879.cms" height="270" width="200px">
              <span>Cars</span>
               <h5 class="text-dark tx-2 font-italic ">$4450.00</h5>
               <div class="col">
          
          </div></div>
        </div></div>
  <!-- end prducts -->
      

                  <marquee direction="left" loop="">
                  <img src="{% static 'C:\Users\ankur saini\AppData\Local\Programs\Python\Python39\PROJECT\project\SAB\S_A_B\static\image\sal.jpeg' %}" height="400" width="800" alt="mdb logo"></marquee>
                
 

  <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Elements -->
  <div class="container-fluid">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://1.bp.blogspot.com/-4oGXNbVn4X4/XhwITOSoj7I/AAAAAAAAAFI/MmQnkkgwZucGUIsAb9uHxjrOu5qK_o9kQCPcBGAYYCw/s1600/6c39037ed890eefb09bb2a9558623eb6.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://images.herzindagi.info/image/2020/Apr/Electronics.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://images.financialexpress.com/2019/12/online-shopping-trends-small.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://wordstream-files-prod.s3.amazonaws.com/s3fs-public/styles/simple_image/public/images/media/images/fashion-marketing-tips.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://www.telegraph.co.uk/content/dam/technology/Spark/btconnectingbritain/woman-online-shopping.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://lianadesu.com/wp-content/uploads/2019/06/2018-best-luxury-makeup-1024x683.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  
</footer>
<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
    <div class="container-fluid">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h5 class="mb-0">Get connected with us on social networks!</h5>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic h4">
            <i class="fas fa fa-facebook white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic h4">
            <i class="fas fa fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic h4">
            <i class="fas fa fa-google-plus white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic h4">
            <i class="fas fa fa-linkedin white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic h4">
            <i class="fas fa fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>SAB means selling and purchashing of any kinds of products without any problem.we provide you a plateform for selling you products as well as purchasing of newones with resonable prices.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Fashion</a>
        </p>
        <p>
          <a href="#!">Furniture</a>
        </p>
        <p>
          <a href="#!">Beauty Products</a>
        </p>
        <p>
          <a href="#!">Cars & Bikes</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa fa-home mr-3"></i> Infowiz,sec-34,Chd</p>
        <p>
          <i class="fas fa fa-envelope mr-3"></i> sab@gmail.com</p>
        <p>
          <i class="fas fa fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa fa-print mr-3"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> SAB.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<nav>
    <ul class="pagination justify-content-end">
        <li class="page-item"><a href="#" class="page-link">Previous</a></li>
        <li class="page-item"><a href="{% url 'home' %}" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
    </ul>
</nav>
<!-- Button trigger modal signup page-->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">
  SignUp
</button>
 -->
<!-- Modal -->
<!-- SignUp Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true"> <!-- style="background-image: url('https://treasurytoday.com/-/media/images/insight-and-analysis/short-reads/2019-07-18-ti-01__cyber-security-data-protection-business-technology-1119128783__1920x1080.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;" -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModal">SignUp Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action= "/signup" method='POST'>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique username" required>
  </div>
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" required>
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
  </div>
  <div class="form-group">
    <label for="pass1">Choose a password</label>
    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password" required>
  </div>
  <div class="form-group">
    <label for="pass2">Confirm Password</label>
    <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter your password again" required>
  </div>
 

        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- login -->
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModal">Login Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST" style="background-image: url('https://treasurytoday.com/-/media/images/insight-and-analysis/short-reads/2019-07-18-ti-01__cyber-security-data-protection-business-technology-1119128783__1920x1080.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; "> {% csrf_token %}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter your username "required>
  </div>
  <div class="form-group">
    <label for="pass">Enter your password </label>
    <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password "required>
  </div>
 
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
       <div class="modal-footer">
      </div>

<!-- cart 
// If the add to cart button is clicked, add/increment the item
//$('.cart').click(function() {
<script type="text/javascript">$('.divpr').on('click', 'button.cart', function() {
    var idstr = this.id.toString();
    if (cart[idstr] != undefined) {
        qty = cart[idstr][0] + 1;
        
    } else {
        qty = 1;
        name = document.getElementById('name'+idstr).innerHTML
        cart[idstr] = [qty, name];

    }
    updateCart(cart);
});
</script>
   <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">


  Cart(<span id="cart">0</span>)
</button>
  </div>
-->

{% endblock %}