{% extends 'S_A_B/basic.html' %}
{% block css %}
.item-image-wrapper {border: 1px solid #696969; overflow: hidden;margin-bottom: 30px;box-shadow: 3px 3px 5px 6px #ccc;}
.single-items {position: relative;}
.iteminfo {position: relative;}
.iteminfo h2 {color: #FE980F;font-size: 24px; font-weight: 700;}
.item-overlay {background: rgba(254, 152, 15, .8);top: 0; display: none;height: 0;position: absolute;-webkit-transition: height 500ms ease 0s;transition: height 500ms ease 0s;width: 100%;display: block;}
.overlay-content { bottom: 0;  position: absolute; bottom: 0; text-align: center; width: 100%;}
.item-overlay h2 {color: #fff;font-size: 24px; font-weight: 700;}
.item-overlay p {font-size: 14px;font-weight: 400; color: #fff;}
.item-overlay, .add-to-cart {background: #fff; border: 0 none; border-radius: 0; color: #FE980F;font-size: 15px;margin-bottom: 25px;}
.choose { border-top: 1px solid #F7F7F0;}
.choose ul li a {color: #B3AFA8;font-size: 13px;padding-left: 0;padding-right: 0;}
.single-items:hover .item-overlay {display: block;  height: 100%;  background: rgba(254, 152, 15, .8);}
.overlay-content {bottom: 0;position: absolute; bottom: 0; text-align: center; width: 100%;}
.iteminfo img {    width: 100%;}
#hi{background-color: pink;}
{% endblock %}
{% block body %}
<header>
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="hi">
            <div class="container">
              <a class="navbar-brand" href="#">
               <h4> <strong class="text-danger">SAB</strong></h4>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active ">
                  <h4>  <a class="nav-link text-dark" href="{% url 'home' %}">Home
                      <span class="sr-only">(current)</span>
                    </a></h4>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark h4" href="{% url 'all' %}">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark h4" href="{% url 'contact' %}">Contact Us</a>
                  </li>
                </ul>
                <form class="form-inline">
                  <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">

                <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>search
                </button>
              
                  </div>
                </form>
              </div>
            </div>
          </nav>
          <br><br><hr>

<h2 class="text-center text-warning"><u>Latest Washing Machines</u></h2><br><br>
<div class="container">
	<div class="row">
		<div class="col-sm-3">
							<div class="item-image-wrapper">
								<div class="single-items">
										<div class="iteminfo text-center">
											<img src="https://sc04.alicdn.com/kf/HTB1dWD0QFXXXXX9XpXXq6xXFXXXD.jpg" alt="">
											<h2>$956</h2>
											<p>Large Machine</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="item-overlay">
											<div class="overlay-content">
												<h2>$956</h2>
												<p>Large Machine</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="item-image-wrapper">
								<div class="single-items">
										<div class="iteminfo text-center">
											<img src="https://storage.sg.content-cdn.io/cdn-cgi/image/%7Bwidth%7D,%7Bheight%7D,quality=75,format=auto/in-resources/3da6157f-93b7-4d52-8005-c008a574721a/Images/ProductImages/Source/WMLG142.jpg" alt="">
											<h2>$356</h2>
											<p>LG Automatic</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="item-overlay">
											<div class="overlay-content">
												<h2>$356</h2>
												<p>LG Automatic</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="item-image-wrapper">
								<div class="single-items">
										<div class="iteminfo text-center">
											<img src="https://cdn.lotuselectronics.com/ItemImages/469391IM.png" alt="">
											<h2>$856</h2>
											<p>Automatic Large Machine</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="item-overlay">
											<div class="overlay-content">
												<h2>$856</h2>
												<p>Automatic Large Machine </p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="item-image-wrapper">
								<div class="single-items">
										<div class="iteminfo text-center">
											<img src="https://static.digit.in/default/3797dd8a1bd22d6ff8ac6d1487438ced86342a07.jpeg" alt="">
											<h2>$456</h2>
											<p>Blue Star Automatic</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="item-overlay">
											<div class="overlay-content">
												<h2>$456</h2>
												<p>Blue Star Automatic</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
	</div>
</div>

<hr>

<div class="container">
	<div class="row">
		<div class="col-sm-3">
							<div class="item-image-wrapper">
								<div class="single-items">
										<div class="iteminfo text-center">
											<img src="https://images-na.ssl-images-amazon.com/images/I/61sDbnKoTXL._SL1500_.jpg" alt="">
											<h2>$356</h2>
											<p>Whirlpool 8kg</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="item-overlay">
											<div class="overlay-content">
												<h2>$356</h2>
												<p>Whirlpool 8kg</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
		<div class="col-sm-3">
							<div class="item-image-wrapper">
								<div class="single-items">
										<div class="iteminfo text-center">
											<img src="https://speedqueeninvestor.com/wp-content/uploads/2017/01/washer-2020.jpg" alt="">
											<h2>$556</h2>
											<p>Samsung Automatic</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="item-overlay">
											<div class="overlay-content">
												<h2>$556</h2>
												<p>Samsung Automatic</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
		<div class="col-sm-3">
							<div class="item-image-wrapper">
								<div class="single-items">
										<div class="iteminfo text-center">
											<img src="https://images-na.ssl-images-amazon.com/images/I/61qF0CkWzYL._SX425_.jpg" alt="">
											<h2>$356</h2>
											<p>Whirlpool 7kg</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="item-overlay">
											<div class="overlay-content">
												<h2>$356</h2>
												<p>Whirlpool 7kg</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
		<div class="col-sm-3">
							<div class="item-image-wrapper">
								<div class="single-items">
										<div class="iteminfo text-center">
											<img src="https://upload.wikimedia.org/wikipedia/commons/0/08/LGwashingmachine.jpg" alt="">
											<h2>$656</h2>
											<p>Motorola Automatic</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="item-overlay">
											<div class="overlay-content">
												<h2>$656</h2>
												<p>Motorola Automatic</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
	</div>
</div>
{% endblock %}